/* General styles */
body {
  font-family: Arial, sans-serif;
  background-color: #E0DAF4;
  color: #D8DBFF;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
  color: #ff6347; /* Tomato color for headings */
  text-align: center;
  margin-top: 0.5em;
}

pre {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  background-color: #EBEBEB;
  color: #FFFFFF;
  padding: 1em;
  border-radius: 10px;
  white-space: pre-wrap;
}

/* Navbar styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  padding: 0.5em;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar a {
  color: #f0f0f0;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 1.2em;
  transition: 0.3s;
}

.navbar a:hover {
  background-color: #575757;
  border-radius: 5px;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Post styles */
.post {
  background-color: #FFFFFF;
  margin: 1em auto;
  padding: 1em;
  border-radius: 10px;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#ppp {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1em;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 3em;
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ff4500;
}

/* Title styles */
.title {
  color: #ff6347;
  font-size: 2.5em;
  text-align: center;
  margin: 0.5em 0;
}

/* Horizontal lines in the navbar */
#hnbr {
  border: 0;
  height: 1px;
  background: #575757;
  margin: 0.5em 0;
}

/* Centering navbar items */
.hn {
  flex-grow: 1;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
  
  .navbar a {
    padding: 10px;
    font-size: 1em;
  }
  
  .post {
    padding: 0.5em;
  }
  
  button {
    font-size: 0.9em;
  }
   }
